@media (min-width: 550px) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    #photos {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 800px) {
    #photos {
        grid-template-columns: auto auto auto;
    }
}